	// @import "compass/reset";

	$top-img-path: "https://pp.userapi.com/c636420/v636420406/5c5a9/aOiT_H3CeTM.jpg";
	$top-Lvl-1-bg-color: #d7eceb;
	$services-img-path: "https://pp.userapi.com/c626218/v626218406/43410/I0dG1dhHVUk.jpg";
	$services-Lvl-1-bg-color: #becf2e;
	$portfolio-img-path: "https://pp.userapi.com/c837339/v837339406/3e167/HaWg8SfBqHw.jpg";
	$portfolio-Lvl-1-bg-color: #fc5c01;
	$contacts-img-path: "https://pp.userapi.com/c636420/v636420406/5c579/Oox8trD7ZVc.jpg";
	$contacts-Lvl-1-bg-color: #d4d3db;
	$footer-img-path: "https://pp.userapi.com/c836135/v836135406/2c793/zCXdcoVQ6H8.jpg";
	$footer-Lvl-1-bg-color: #14242c;

	$top-Lvl-2-bg-color: #e7fff2;
	$services-Lvl-2-bg-color: #badfde;
	$portfolio-Lvl-2-bg-color: #3cbeb9;
	$contacts-Lvl-2-bg-color: #437188;
	$footer-Lvl-2-bg-color: #959da0;
	
	$top-Lvl-3-bg-color: $top-Lvl-2-bg-color;
	$services-Lvl-3-bg-color: #d7eceb;
	$portfolio-Lvl-3-bg-color: #9ce0de;
	$contacts-Lvl-3-bg-color: $contacts-Lvl-2-bg-color;
	$footer-Lvl-3-bg-color: $footer-Lvl-2-bg-color;
	
body {
	text-align:center; /*For IE6 Shenanigans*/ 
}

%Lvl-1 {
	width: 100%;
}

%Lvl-2 {
	width: 960px;
	margin: 0 auto;
}

%Lvl-3 {
	width: 860px;
	margin: 0 auto;
	text-align: center;
	padding: 50px;
	height: 540px;
}

.top-Lvl-1 {
	@extend %Lvl-1;
	background: url($top-img-path) repeat $top-Lvl-1-bg-color;
	background-size: 20%;
}
.top-Lvl-2 {
	@extend %Lvl-2;
	background: rgba($top-Lvl-2-bg-color, 0.5);
}

.top-Lvl-3 {
	// position: relative;
	@extend %Lvl-3 ;
	background: $top-Lvl-2-bg-color;
	.navig {
		text-align: left;
		padding-left: 10px;
	}

}

.transition {
	position: absolute;
	background: -moz-linear-gradient(90deg, rgba(231,255,242,0.2) 0%, rgba(190,207,46,1) 37%, rgba(242,213,212,1) 66%, rgba(215,236,235,0.2) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(215,236,235,0.2)), color-stop(34%, rgba(242,213,212,1)), color-stop(63%, rgba(190,207,46,1)), color-stop(100%, rgba(231,255,242,0.2))); /* safari4+,chrome */
	background: -webkit-linear-gradient(90deg, rgba(231,255,242,0.2) 0%, rgba(190,207,46,1) 37%, rgba(242,213,212,1) 66%, rgba(215,236,235,0.2) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(90deg, rgba(231,255,242,0.2) 0%, rgba(190,207,46,1) 37%, rgba(242,213,212,1) 66%, rgba(215,236,235,0.2) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(90deg, rgba(231,255,242,0.2) 0%, rgba(190,207,46,1) 37%, rgba(242,213,212,1) 66%, rgba(215,236,235,0.2) 100%); /* ie10+ */
	background: linear-gradient(0deg, rgba(231,255,242,0.2) 0%, rgba(190,207,46,1) 37%, rgba(242,213,212,1) 66%, rgba(215,236,235,0.2) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7eceb', endColorstr='#e7fff2',GradientType=0 ); /* ie6-9 */
	top: 540px-30px;
	left: 0;
	right: 0;
	height: 60px;
	width: 100%;
}

.services-Lvl-1 {
	@extend %Lvl-1;
	background: url($services-img-path) repeat $services-Lvl-1-bg-color;
	background-size: 20%;
}
.services-Lvl-2 {
	@extend %Lvl-2;
	background: rgba($services-Lvl-2-bg-color, 0.5);
}

.services-Lvl-3 {
	@extend %Lvl-3;
	background: $services-Lvl-3-bg-color;
}

.portfolio-Lvl-1 {
	@extend %Lvl-1;
	background: url($portfolio-img-path) repeat $portfolio-Lvl-1-bg-color;
	background-size: 20%;
}
.portfolio-Lvl-2 {
	@extend %Lvl-2;
	background: rgba($portfolio-Lvl-2-bg-color, 0.5);
}

.portfolio-Lvl-3 {
	@extend %Lvl-3;
	background: $portfolio-Lvl-3-bg-color;
}

.contacts-Lvl-1 {
	@extend %Lvl-1;
	background: url($contacts-img-path) repeat $contacts-Lvl-1-bg-color;
	background-size: 20%;
}
.contacts-Lvl-2 {
	@extend %Lvl-2;
	background: rgba($contacts-Lvl-2-bg-color, 0.5);
}

.contacts-Lvl-3 {
	@extend %Lvl-3;
	background: $contacts-Lvl-2-bg-color;
	color: white;
}

.footer-Lvl-1 {
	@extend %Lvl-1;
	background: url($footer-img-path) repeat $footer-Lvl-1-bg-color;
	background-size: 20%;
}
.footer-Lvl-2 {
	@extend %Lvl-2;
	background: rgba($footer-Lvl-2-bg-color, 0.5);
}

.footer-Lvl-3 {
	@extend %Lvl-3;
	background: $footer-Lvl-2-bg-color;
	color: white;
}

