/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

body{
	text-align:center; /*For IE6 Shenanigans*/ 
}

.top_Lvl_1 {
		width: 100%;
		background: url("https://pp.userapi.com/c636420/v636420406/5c5a9/aOiT_H3CeTM.jpg") repeat #d7eceb;
		background-size: 20%;
}
.top_Lvl_2 {
	width: 960px;
	margin: 0 auto;
	background: rgba(#e7fff2, 0.5);
}

.top_Lvl_3 {
	width: 860px;
	margin: 0 auto;
	text-align: center;
	padding: 10em 0;
	height: 540px;
	background: #e7fff2;
	// .block1 {
	// 	height: 640px;
	// 	background: #badfde;
	// }
}

.services_Lvl_1 {
		width: 100%;
		background: url("https://pp.userapi.com/c626218/v626218406/43410/I0dG1dhHVUk.jpg") repeat #becf2e;
		background-size: 20%;
}
.services_Lvl_2 {
	width: 960px;
	margin: 0 auto;
	background: rgba(#badfde, 0.5);
}

.services_Lvl_3 {
	width: 860px;
	margin: 0 auto;
	text-align: center;
	padding: 10em 0;
	height: 540px;
	background: #d7eceb;
	// .block1 {
	// 	height: 640px;
	// 	background: #badfde;
	// }
}

.portfolio_Lvl_1 {
		width: 100%;
		background: url("https://pp.userapi.com/c837339/v837339406/3e167/HaWg8SfBqHw.jpg") repeat #fc5c01;
		background-size: 20%;
}
.portfolio_Lvl_2 {
	width: 960px;
	margin: 0 auto;
	background: rgba(#3cbeb9, 0.5);
}

.portfolio_Lvl_3 {
	width: 860px;
	margin: 0 auto;
	text-align: center;
	padding: 10em 0;
	height: 540px;
	background: #9ce0de;
	// .block1 {
	// 	height: 640px;
	// 	background: #badfde;
	// }
}

.contacts_Lvl_1 {
		width: 100%;
		background: url("https://pp.userapi.com/c636420/v636420406/5c579/Oox8trD7ZVc.jpg") repeat #d4d3db;
		background-size: 20%;
}
.contacts_Lvl_2 {
	width: 960px;
	margin: 0 auto;
	background: rgba(#437188, 0.5);
}

.contacts_Lvl_3 {
	width: 860px;
	margin: 0 auto;
	text-align: center;
	padding: 10em 0;
	height: 540px;
	background: #437188;
	color: white;
	// .block1 {
	// 	height: 640px;
	// 	background: #badfde;
	// }
}

.footer_Lvl_1 {
		width: 100%;
		background: url("https://pp.userapi.com/c836135/v836135406/2c793/zCXdcoVQ6H8.jpg") repeat #14242c;
		background-size: 20%;
}
.footer_Lvl_2 {
	width: 960px;
	margin: 0 auto;
	background: rgba(#959da0, 0.5);
}

.footer_Lvl_3 {
	width: 860px;
	margin: 0 auto;
	text-align: center;
	padding: 10em 0;
	height: 540px;
	background: #959da0;
	color: white;
	// .block1 {
	// 	height: 640px;
	// 	background: #badfde;
	// }
}