/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

body{
	text-align:center; /*For IE6 Shenanigans*/ 
}

.top_Lvl_1 {
		width: 100%;
		background: url("https://pp.userapi.com/c636420/v636420406/5c5a9/aOiT_H3CeTM.jpg") repeat #d7eceb;
		background-size: 20%;
}
.top_Lvl_2 {
	width: 960px;
	margin: 0 auto;
	background: rgba(#e7fff2, 0.5);
}

.top_Lvl_3 {
	// position: relative;
	width: 860px;
	margin: 0 auto;
	text-align: center;
	padding: 50px;
	height: 540px;
	background: #e7fff2;
	.navig {
		text-align: left;
		padding-left: 10px;
	}

}

.transition {
	position: absolute;
	background: -moz-linear-gradient(90deg, rgba(231,255,242,0.2) 0%, rgba(190,207,46,1) 37%, rgba(242,213,212,1) 66%, rgba(215,236,235,0.2) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(215,236,235,0.2)), color-stop(34%, rgba(242,213,212,1)), color-stop(63%, rgba(190,207,46,1)), color-stop(100%, rgba(231,255,242,0.2))); /* safari4+,chrome */
	background: -webkit-linear-gradient(90deg, rgba(231,255,242,0.2) 0%, rgba(190,207,46,1) 37%, rgba(242,213,212,1) 66%, rgba(215,236,235,0.2) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(90deg, rgba(231,255,242,0.2) 0%, rgba(190,207,46,1) 37%, rgba(242,213,212,1) 66%, rgba(215,236,235,0.2) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(90deg, rgba(231,255,242,0.2) 0%, rgba(190,207,46,1) 37%, rgba(242,213,212,1) 66%, rgba(215,236,235,0.2) 100%); /* ie10+ */
	background: linear-gradient(0deg, rgba(231,255,242,0.2) 0%, rgba(190,207,46,1) 37%, rgba(242,213,212,1) 66%, rgba(215,236,235,0.2) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7eceb', endColorstr='#e7fff2',GradientType=0 ); /* ie6-9 */
	top: 540px-30px;
	left: 0;
	right: 0;
	height: 60px;
	width: 100%;
}

.services_Lvl_1 {
		width: 100%;
		background: url("https://pp.userapi.com/c626218/v626218406/43410/I0dG1dhHVUk.jpg") repeat #becf2e;
		background-size: 20%;
}
.services_Lvl_2 {
	width: 960px;
	margin: 0 auto;
	background: rgba(#badfde, 0.5);
}

.services_Lvl_3 {
	width: 860px;
	margin: 0 auto;
	text-align: center;
	padding: 50px;
	height: 540px;
	background: #d7eceb;
}

.portfolio_Lvl_1 {
		width: 100%;
		background: url("https://pp.userapi.com/c837339/v837339406/3e167/HaWg8SfBqHw.jpg") repeat #fc5c01;
		background-size: 20%;
}
.portfolio_Lvl_2 {
	width: 960px;
	margin: 0 auto;
	background: rgba(#3cbeb9, 0.5);
}

.portfolio_Lvl_3 {
	width: 860px;
	margin: 0 auto;
	text-align: center;
	padding: 50px;
	height: 540px;
	background: #9ce0de;
}

.contacts_Lvl_1 {
		width: 100%;
		background: url("https://pp.userapi.com/c636420/v636420406/5c579/Oox8trD7ZVc.jpg") repeat #d4d3db;
		background-size: 20%;
}
.contacts_Lvl_2 {
	width: 960px;
	margin: 0 auto;
	background: rgba(#437188, 0.5);
}

.contacts_Lvl_3 {
	width: 860px;
	margin: 0 auto;
	text-align: center;
	padding: 50px;
	height: 540px;
	background: #437188;
	color: white;
}

.footer_Lvl_1 {
		width: 100%;
		background: url("https://pp.userapi.com/c836135/v836135406/2c793/zCXdcoVQ6H8.jpg") repeat #14242c;
		background-size: 20%;
}
.footer_Lvl_2 {
	width: 960px;
	margin: 0 auto;
	background: rgba(#959da0, 0.5);
}

.footer_Lvl_3 {
	width: 860px;
	margin: 0 auto;
	text-align: justify;
	padding: 50px;
	height: 540px;
	background: #959da0;
	color: white;
}

