/* line 26, ../scss/screen.scss */
body {
  text-align: center;
  /*For IE6 Shenanigans*/
}

/* line 30, ../scss/screen.scss */
.top-Lvl-1, .services-Lvl-1, .portfolio-Lvl-1, .contacts-Lvl-1, .footer-Lvl-1 {
  width: 100%;
}

/* line 34, ../scss/screen.scss */
.top-Lvl-2, .services-Lvl-2, .portfolio-Lvl-2, .contacts-Lvl-2, .footer-Lvl-2 {
  width: 960px;
  margin: 0 auto;
}

/* line 39, ../scss/screen.scss */
.top-Lvl-3, .services-Lvl-3, .portfolio-Lvl-3, .contacts-Lvl-3, .footer-Lvl-3 {
  width: 860px;
  margin: 0 auto;
  text-align: center;
  padding: 50px;
  height: 540px;
}

/* line 47, ../scss/screen.scss */
.top-Lvl-1 {
  background: url("https://pp.userapi.com/c636420/v636420406/5c5a9/aOiT_H3CeTM.jpg") repeat #d7eceb;
  background-size: 20%;
}

/* line 52, ../scss/screen.scss */
.top-Lvl-2 {
  background: rgba(231, 255, 242, 0.5);
}

/* line 57, ../scss/screen.scss */
.top-Lvl-3 {
  background: #e7fff2;
}
/* line 61, ../scss/screen.scss */
.top-Lvl-3 .navig {
  text-align: left;
  padding-left: 10px;
}

/* line 68, ../scss/screen.scss */
.transition {
  position: absolute;
  background: -moz-linear-gradient(90deg, rgba(231, 255, 242, 0.2) 0%, #becf2e 37%, #f2d5d4 66%, rgba(215, 236, 235, 0.2) 100%);
  /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(215, 236, 235, 0.2)), color-stop(34%, #f2d5d4), color-stop(63%, #becf2e), color-stop(100%, rgba(231, 255, 242, 0.2)));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(90deg, rgba(231, 255, 242, 0.2) 0%, #becf2e 37%, #f2d5d4 66%, rgba(215, 236, 235, 0.2) 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(90deg, rgba(231, 255, 242, 0.2) 0%, #becf2e 37%, #f2d5d4 66%, rgba(215, 236, 235, 0.2) 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(90deg, rgba(231, 255, 242, 0.2) 0%, #becf2e 37%, #f2d5d4 66%, rgba(215, 236, 235, 0.2) 100%);
  /* ie10+ */
  background: linear-gradient(0deg, rgba(231, 255, 242, 0.2) 0%, #becf2e 37%, #f2d5d4 66%, rgba(215, 236, 235, 0.2) 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7eceb', endColorstr='#e7fff2',GradientType=0 );
  /* ie6-9 */
  top: 510px;
  left: 0;
  right: 0;
  height: 60px;
  width: 100%;
}

/* line 84, ../scss/screen.scss */
.services-Lvl-1 {
  background: url("https://pp.userapi.com/c626218/v626218406/43410/I0dG1dhHVUk.jpg") repeat #becf2e;
  background-size: 20%;
}

/* line 89, ../scss/screen.scss */
.services-Lvl-2 {
  background: rgba(186, 223, 222, 0.5);
}

/* line 94, ../scss/screen.scss */
.services-Lvl-3 {
  background: #d7eceb;
}

/* line 99, ../scss/screen.scss */
.portfolio-Lvl-1 {
  background: url("https://pp.userapi.com/c837339/v837339406/3e167/HaWg8SfBqHw.jpg") repeat #fc5c01;
  background-size: 20%;
}

/* line 104, ../scss/screen.scss */
.portfolio-Lvl-2 {
  background: rgba(60, 190, 185, 0.5);
}

/* line 109, ../scss/screen.scss */
.portfolio-Lvl-3 {
  background: #9ce0de;
}

/* line 114, ../scss/screen.scss */
.contacts-Lvl-1 {
  background: url("https://pp.userapi.com/c636420/v636420406/5c579/Oox8trD7ZVc.jpg") repeat #d4d3db;
  background-size: 20%;
}

/* line 119, ../scss/screen.scss */
.contacts-Lvl-2 {
  background: rgba(67, 113, 136, 0.5);
}

/* line 124, ../scss/screen.scss */
.contacts-Lvl-3 {
  background: #437188;
  color: white;
}

/* line 130, ../scss/screen.scss */
.footer-Lvl-1 {
  background: url("https://pp.userapi.com/c836135/v836135406/2c793/zCXdcoVQ6H8.jpg") repeat #14242c;
  background-size: 20%;
}

/* line 135, ../scss/screen.scss */
.footer-Lvl-2 {
  background: rgba(149, 157, 160, 0.5);
}

/* line 140, ../scss/screen.scss */
.footer-Lvl-3 {
  background: #959da0;
  color: white;
}
